---
import Hero from "../layouts/Hero.astro";
import Menu from "../layouts/Menu.astro";
import Features from "../layouts/Features.astro";
import About from "../layouts/About.astro";
import Map from "../layouts/Map.astro";
import Footer from "../layouts/Footer.astro";
import './styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./public/assets/icon.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="src/styles/global.css">
		<title>Maison Cafe - Restaurante</title>
	</head>
	<body>
		<Hero />
		<Menu />
		<Features />
		<About />
		<Map />
		<Footer />
	</body>
</html>
