---
import { Leaf, ChefHat, Salad } from 'lucide-astro';
---

<section class="p-6 text-center items-center pt-14 bg-[#F9F7F5]">
    <div class="flex flex-col md:flex-row items-center justify-center gap-12 px-4 md:px-0">

      <div class="flex flex-col items-center justify-center p-6 w-full md:w-80 text-center gap-4 h-auto md:h-80 shadow-2xl/20 shadow-[5px_5px_10px_rgba(0,0,0,0.04)]">
        <div class="bg-[#d59b6f] rounded-full p-8">
            <Leaf class="text-white w-14 h-14" />
        </div>
        <h1 class="text-3xl h-auto md:h-16 text-[#333333]">Ingredientes Frescos</h1>
        <p class="text-lg font-light text-center text-[#333333]">Seleccionamos ingredientes de granjas sostenibles y de gran confianza alrededor del mundo.</p>
      </div>

      <div class="flex flex-col items-center justify-center p-6 w-full md:w-80 text-center gap-4 h-auto md:h-80 shadow-2xl/20 shadow-[5px_5px_10px_rgba(0,0,0,0.04)]">
        <div class="bg-[#d59b6f] rounded-full p-8">
            <ChefHat class="text-white w-14 h-14" />
        </div>
        <h1 class="text-3xl h-auto md:h-16 text-[#333333]">Maestría Artesanal</h1>
        <p class="text-lg font-light text-center text-[#333333]">Nuestros baristas aportan años de pasión y experiencia en cada taza que servimos.</p>
      </div>

      <div class="flex flex-col items-center justify-center p-6 w-full md:w-80 text-center gap-4 h-auto md:h-80 shadow-2xl/20 shadow-[5px_5px_10px_rgba(0,0,0,0.04)]">
        <div class="bg-[#d59b6f] rounded-full p-8">
            <Salad class="text-white w-14 h-14" />
        </div>
        <h1 class="text-3xl h-auto md:h-16 text-[#333333]">Opciones Saludables</h1>
        <p class="text-lg font-light text-center text-[#333333]">Ofrecemos ensaladas y bocados nutritivos que nutren tanto el cuerpo como el alma.</p>
      </div>
    </div>
</section>