---
import Header from "../components/Header.astro";
---


<section class="relative h-screen">
  <Header />
  <img
    src="src/assets/hero.jpg"
    alt="Hero Image"
    class="absolute inset-0 w-full h-full object-cover -z-20"
  />
  <div class="absolute inset-0 w-full h-full object-cover -z-10 bg-black opacity-35"></div>
  <div class="flex flex-col justify-center items-center h-full text-center gap-4 px-4 md:px-0">
    <h1 class="text-[#F9F7F5] text-5xl md:text-7xl lg:text-9xl font-medium animate-fade-in-up">MAISON CAFÉ</h1>
    <p class="text-[#F9F7F5] text-base md:text-xl animate-fade-in-up">Café artesanal y de calidad, hecho con cariño </p>
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mt-6 w-full sm:w-auto">
      <button class="px-7 sm:px-9 py-2.5 animate-flip-in-x bg-amber-50 text-black cursor-pointer hover:scale-115 transition-transform duration-300 w-full sm:w-auto">Reservar</button>
      <a href="#menu" class="px-7 sm:px-9 py-2.5 animate-flip-in-x bg-transparent border border-white text-white cursor-pointer  hover:bg-amber-50 transition-colors duration-300 hover:text-black w-full sm:w-auto text-center">Ver Menú</a>
    </div>
  </div>
</section>