---
import MenuCard from "../components/MenuCard.astro"
---

<section class="h-auto text-center items-center bg-[#F9F7F5]">
    <h1 id="menu" class="text-4xl md:text-6xl font-arial p-8 md:p-12 text-[#434242]">Menú</h1>
    <div class="w-3/5 md:w-2/5 mx-auto">
        <div class="border-2 border-[#d59b6f] w-full"></div>
    </div>
    <div class="mt-8 p-6 px-6 md:px-16 lg:px-52 gap-6 flex flex-wrap justify-center">
        <MenuCard title="Espresso" description="Intenso, concentrado y aromático." price="3.50" />
        <MenuCard title="Americano" description="Suave, ligero y con más agua caliente." price="4.00" />
        <MenuCard title="Café con Leche" description="Ligero, cremoso y con leche." price="4.50" />
        <MenuCard title="Latte" description="Café suave con leche vaporizada." price="6.00" />
        <MenuCard title="Cappuccino" description="Café, leche y espuma cremosa." price="6.50" />
        <MenuCard title="Mocha" description="Café, chocolate y leche." price="7.50" />
        <MenuCard title="Frappé" description="Fría, cremosa y ligeramente dulce." price="9.00" />
        <MenuCard title="Caramel Latte" description="Latte suave con jarabe de caramelo." price="7.00" />
        <MenuCard title="Café Irlandés" description="Café fuerte con crema y especial." price="9.50" />
        <MenuCard title="Cold Brew" description="Café frío, suave y refrescante." price="8.00" />
        <MenuCard title="Café Latte Vainilla" description="Latte aromático con esencia de vainilla." price="7.50" />
        <MenuCard title="Ristretto" description="Espresso corto, intenso y concentrado." price="3.50" />
        <MenuCard title="Affogato" description="Helado de vainilla con espresso caliente." price="8.50" />
        <MenuCard title="Café Miel Canela" description="Latte aromático con miel natural y canela." price="7.00" />
        <MenuCard title="Doble Espresso" description="Doble carga de energía y sabor intenso." price="5.00" />
        <MenuCard title="Café Chocolate Blanco" description="Café cremoso con chocolate blanco." price="8.00" />
        <MenuCard title="Flat White" description="Café con microespuma fina y sedosa." price="6.50" />
        <MenuCard title="Macchiato" description="Espresso con leche espumada." price="4.50" />
    </div>

    <div class="bg-[#d59b6f] w-full p-5 mt-8 h-auto">
        <h3 class="text-[#333333] text-3xl">“Coffee is your best friend, for ever, ever...”</h3>
    </div>
</section>